<div class = "row">
  <div class = "display-word">
    <div class ="twelve">
      <h1>{{scramble}}</h1>
    </div>
  </div>
</div>

<div class = "row">
  <div class = "user-entry">
    <div class ="twelve">
      <h1>
      <form name="guessWord" action="/guessword" method="post">
        <input name="guess" type="text" placeholder="Enter your word here">
        <input type="hidden" name="id" value="{{id}}">
        <div class = "submit-button">
          <div class ="twelve">
            <button type="submit">CORRECT!!</button>
          </div>
        </div>
      </form>
    </h1>
    </div>
  </div>
</div>
