
{{scramble}}

<form name="guessWord" action="/guessword" method="post">
  <input name="guess" type="text" placeholder="Enter your word here">
  <input type="hidden" name="id" value="{{id}}">
  <button type="submit">Submit Me Please</button>
</form>
