

  <div class = "mainContent">

{{displayWords}}

      <form name="resWords" action="resWords" method="post">
        <input type="text" placeholder="Enter your word here">
        <div class = "submitButton">
        <button type="submit" name="button">Submit Me Please</button>
      </form>

    </div><!--end of mainContent-->
